#Tmain {
    /* color: rgb(84, 32, 133); */
    color: #e63946;
    text-align: center;
    font-size: 1.6em;
    text-decoration: underline 2px;
    font-family: "Libertinus Mono", monospace;
    font-weight: 1000;
    font-style: normal;
    transform: translateX(15px);
}


h2 {
    color: rgb(3, 234, 255);
    text-decoration: underline dashed 1.5px;
    margin-left: 20px;
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(3, 35, 69);
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}


nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

span {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;


}

.nbar {
    /* color: rgb(0, 4, 4); */
    color: #bde0fe;
    border: 1px solid #bde0fe;
    /* border: 1px solid rgba(0, 0, 0, 0.215); */
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(7, 93, 67, 0);
}

.nbar:hover {
    border-color: azure;
    background-color: #e1f1ff17;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #bde0fe;
}

.ser {
    text-align: end;
    margin-right: 160px;
    margin-bottom: 20px;
}



#foot {
    /* color: black; */
    color: #e63946;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    font-weight: 600;
    font-family: "Libertinus Mono", monospace;

}

h3 {
    color: rgb(55, 135, 196);
}

p {
    /* color: rgb(99, 212, 167); */
    color: #f1faee;
    padding-left: 20px;
}

img {
    width: 300px;
    height: 200px;
    border: 2px solid white;
    border-radius: 10%;
    margin: 25px;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease-out;
}

#ig {
    width: 300px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10%;
    margin: 25px;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease-out;

}

img:hover,
#ig:hover {
    width: 310px;
    height: 210px;
}



button {
    background-color: rgba(229, 255, 127, 0.125);
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 15px;
    transition: transform 0.2s;
    border-width: 2px solid;
    border-color: rgb(0, 0, 0);
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    font-style: italic;
}

button:hover {

    color: aliceblue;
    border-style: groove;
    border-color: aliceblue;
    transform: translateY(-0.25em);
    cursor: pointer;
}

header {
    /* background-color: rgba(30, 181, 204, 0.878); */
    background-color: #1d3557;

    /* border-width: 5px;
    border-color: rgb(31, 79, 43);
    border-style: solid;
    box-sizing: border-box;
    border-top-style: double;
    border-bottom-style: double;
    border-radius: 30px; */
    padding: 17px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;

}

main {
    /* background-color: rgba(41, 45, 81, 0.575); */
    background-color: #457b9d;
    /* border: 3px double wheat;
    border-radius: 10px; */
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

footer {
    /* background-color: rgb(30, 181, 204); */
    background-color: #1d3557;

    /* border-width: 5px;
    border-color: rgb(31, 79, 43);
    border-style: solid;
    box-sizing: border-box;
    border-top-style: double;
    border-bottom-style: double;

    border-radius: 30px; */
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    font-style: italic;
}


thead {
    color: rgb(118, 26, 26);
    /* background-color: aquamarine; */
    /* background-color: #94d2bd; */
    background-color: #adb5bd;
}

tbody {
    background-color: azure;
}

table {
    padding: 10px 25px;

}

ul {
    color: aliceblue;
}

div {
    color: azure;
}

textarea {
    background-color: rgb(0, 0, 0);
    color: rgb(51, 255, 0);
    margin: 20px;
}

#Gender {
    height: 27px;
}

input {
    color: rgb(25, 41, 45);
    height: 27px;
    transition: background-color 0.5s;
}

td {
    transition: background-color 0.5s;
    padding: 1%;
}

a {
    /* color: rgb(255, 0, 102); */
    /* color: #90be6d; */
    color: #ccff33;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.2s;
}

.sign {
    text-align: center;
}

.cont {
    list-style: none;
}


html {
    /* background-color: rgb(9, 142, 100); */
    background-color: #a8dadc;

}

.ab {
    padding-bottom: 10%;
}


a:hover {
    text-decoration: underline;
    transform: translatey(-0.25em);
    color: azure;
    transform: scale(1.1);
}

#Tmain:hover {
    text-decoration: underline #e63946;

}

section {
    transition: margin-left 0.3s;

}

section:hover {
    margin-left: 30px;
}

td:hover,
input:hover {
    background-color: rgb(35, 207, 255);
}

button:active {
    background-color: red;
    color: white;
}

html::selection {
    background-color: rgba(61, 132, 30, 0.623);
}

#signtitle {
    display: block;
    margin-left: 0px;
    text-align: center !important;
}